:root{
  --dark: #222326;
  --gray: #1b1b1b;
  --white: #fff;
  --green-light: #8DF2B0;
  --green-dark: #027333;
  --red: #E04D4F;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dark);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}
a, button{
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
